@forward "colors";
@forward "reset";
@forward "utilities";
@forward "typography";
.design {
 min-height: 100vh;
 display: grid;
 place-items: center;
}
.primary-header {
 position: relative;
 z-index: 1000;
 background-color: var(--clr-main);
 box-shadow: 0 0 0.4em 0 rgba(43, 57, 69, 0.15);

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
 }
 .logo {
  font-weight: var(--fw-800);
  font-size: 1.5rem;
 }
 .theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-600);
  font-size: var(--fs-400);
  gap: 0.5em;
 }
}

.filters {
 margin-top: 2.75rem;
 display: flex;
 justify-content: space-between;
 gap: 2.75rem;
 flex-flow: wrap;

 .search {
  width: min(480px, 100%);
  padding: 1rem 1.5rem;
  box-shadow: 0 0 0.4em 0 rgba(43, 57, 69, 0.15);
  border-radius: 0.5em;
  background-color: var(--clr-main);
  display: flex;
  align-items: center;
  gap: 1rem;

  input {
   width: 100%;
   border: none;
   outline: none;
   background: none;
   font-size: var(--fs-300);
   letter-spacing: 0.5px;
   color: var(--clr-input);
   &::placeholder {
    color: var(--clr-input);
   }
  }
 }
 .filter-btn {
  padding: 1rem 1.5rem;
  box-shadow: 0 0 0.4em 0 rgba(43, 57, 69, 0.15);
  border-radius: 0.5em;
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  position: relative;
  display: block;
  background-color: var(--clr-main);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  .filter-list {
   position: absolute;
   top: calc(100% + 5px);
   left: 0;
   display: flex;
   flex-flow: column;
   gap: 0.5rem;
   background-color: var(--clr-main);
   box-shadow: 0 0 0.4em 0 rgba(43, 57, 69, 0.15);
   padding: 1rem;
   width: 100%;
   border-radius: 0.5em;
   font-size: var(--fs-300);
  }
 }
}
.countries-list {
 margin-top: 2.75rem;
 margin-bottom: 2.75rem;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
 gap: clamp(2.25rem, 1.45rem + 3.38vw, 4.5rem);
 justify-items: center;

 .country-card {
  cursor: pointer;
  box-shadow: 0 0 0.4em 0 rgba(43, 57, 69, 0.15);
  overflow: hidden;
  border-radius: 0.5em;
  min-height: 340px;
  background-color: var(--clr-main);
  max-width: 265px;

  .flag {
   aspect-ratio: 7 / 5;
   width: 530px;
   height: 160px;
   object-fit: cover;
  }
  h1 {
   padding: 1.25rem 1.5rem;
   font-size: 1.125rem;
   line-height: 1;
  }
  p {
   padding-inline: 1.5rem;
   b {
    font-weight: var(--fw-600);
   }
  }
 }
}
.back-btn {
 margin-top: 4.75rem;
 margin-bottom: 5rem;
 padding: 0.5rem 2rem;
 box-shadow: 0 0 0.4em 0 rgba(43, 57, 69, 0.15);
 border-radius: 0.4em;
 background-color: var(--clr-main);
 display: flex;
 align-items: center;
 gap: 0.5rem;
}
.country-details {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: clamp(3rem, 1.5rem + 6.75vw, 7.5rem);
 justify-items: center;
 margin-bottom: 3.75rem;

 .flag {
  aspect-ratio: 7 / 5;
  width: 560px;
  object-fit: cover;
  object-position: center;
 }
 .details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  p {
   font-weight: var(--fw-300);
   margin-bottom: 0.75rem;
   b {
    font-weight: var(--fw-600);
   }
  }
  .info-wrapper {
   display: flex;
   flex-flow: wrap;
   justify-content: space-between;
   gap: 2rem;
   margin-top: 2.5rem;
  }
 }
 .border-countries {
  margin-top: 4.5rem;

  b {
   font-weight: var(--fw-600);
  }
  a {
   font-size: var(--fs-300);
   display: inline-block;
   padding: 0.3rem 1.75rem;
   box-shadow: 0 0 0.4em 0 rgba(43, 57, 69, 0.15);
   margin-left: 0.5rem;
   margin-bottom: 0.5rem;
   background-color: var(--clr-main);
  }
 }
}
.page-not-found {
 min-height: 100vh;
 display: grid;
 place-items: center;
}
@media (max-width: 50em) {
 .country-details {
  grid-template-columns: 1fr;
 }
 .back-btn {
  margin-top: 2.5rem;
  margin-bottom: 3.75rem;
 }
 .country-details .border-countries {
  margin-top: 2.5rem;
 }
}
@media (max-width: 30em) {
 .primary-header .logo {
  font-size: var(--fs-400);
 }
 .primary-header .theme-switch {
  font-size: var(--fs-300);
 }
}
